@model IEnumerable<googlemapMVC.Models.konum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enlem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boylam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sehir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enlem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boylam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sehir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aciklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
